<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar">
    <a th:href="@{/}" class="navbar-brand">
        <span>Card</span> DeckForge
    </a>
    <div class="navbar-links">
        <a th:href="@{/}" class="navbar-link">Hjem</a>
        <a th:href="@{/cards/card-search}" class="navbar-link">Se kort</a>
        <a th:href="@{/decks/user-list}" class="navbar-link">Se Decks</a>
        <a th:href="@{/}" class="navbar-link">Turneringer</a>

        <th:block th:if="${session.currentUser != null}">
            <a th:href="@{/myprofile}" class="navbar-link">Min side</a>
            <a th:href="@{/logout}" class="navbar-link navbar-link--accent">Log ud</a>
        </th:block>

        <th:block th:if="${session.currentUser == null}">
            <a th:href="@{/login}" class="navbar-link navbar-link--accent">Login</a>
        </th:block>
        <th:block th:if="${session.currentUser != null and session.currentUser.getAuthority().getRole() == 'ADMIN'}">
            <a th:href="@{/admin/create-card-from}" class="navbar-link navbar-link--accent">Create new cards</a>
        </th:block>
    </div>
</nav>
</body>
</html>