<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Card List</title>
</head>
<body>

<h1>Card List</h1>

<

<h3>Card List</h3>
<table>
    <tr>
        <th>Card Name</th>
        <th>Card Type</th>
        <th>Card Color</th>
        <th>Card Set</th>
    </tr>
    <tbody>
        <tr th:each="card : ${cardslist}">
            <td th:text="${card.name}"></td>
            <td th:text="${card.type}"></td>
            <td th:text="${card.color}"></td>
            <td th:text="${card.set}"></td>
        </tr>
    </tbody>
</table>

<h4> <a th:href="@{/}">Home</a></h4>



</body>
</html>