<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<h1>Create Account</h1>


<form th:action="@{/register}" th:object="${user}" method="post">

    <div class="field">
        <label for="email">Email:</label><br>
        <input type="text" id="email" th:field="*{authority.email}" placeholder="F.eks. bruger@gmail.com" required><br><br>
    </div>
    <div class="field">
        <label for="password">Password:</label><br>
        <input type="password" id="password" th:field="*{authority.password}" required><br><br>
    </div>
    <div class="field">
        <label for="name">Navn:</label><br>
        <input type="text" id="name" th:field="*{name}" required><br><br>
    </div>
    <div class="field">
        <label for="age">Alder:</label><br>
        <input type="text" id="age" th:field="*{age}" required><br><br>
    </div>
    <button type="submit">Opret</button>

</form>

<div class="divider">Eller</div>

<h3><a th:href="@{/}">Til Start</a></h3>

<h3><a th:href="@{login}">Til Login</a></h3>
</body>
</html>