<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div>
    <h1>Oprettelse af konto successfull</h1>
    <h2>Click nedenunder for at logge ind</h2>
    <h3><a th:href="@{Login}">Til login</a></h3>
</div>

</body>
</html>